  /* clock */
  .controls {
    position: fixed;
    top: 13vh;
    right: 43.8vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }

  input[type="text"] {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.2vw;
    padding: 0.6vh 0.8vw;
    border-radius: 0.5vw;
    border: 0.15vw solid white;
    background-color: rgba(0, 0, 0, 0.639);
    color: white;
    outline: none;
    width: 5vw;
    text-align: center;
  }

  input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-family: 'Pixelify Sans', sans-serif;
  }


  .buttons {
    margin-top: 8px;
  }

  /* 
  button {
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    background-color: white;
    color: #333;
    cursor: pointer;
  }

  button:hover {
    background-color: #ccc;
  } */