#journal{
    position: fixed;
    bottom: 17%;
    right: 25%;
    width: 8%;
    height: auto;
    z-index: 10;
    user-drag: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    pointer-events: auto;
  }

  #journal:hover{
    cursor: pointer;
    transform: scale(1.05);
  }

#journal-text{
        font-family: 'Pixelify Sans', sans-serif;
        width: 100%;
        height: 200px;
        padding: 10px;
        font-size: 14px;
        resize: none;
        border: 1px solid #999;
        border-radius: 4px;
 }

 .clickable-journal {
    /* width: 100px; */
    cursor: pointer;
  }
  
  .journal-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
  }
  
  .hidden {
    display: none;
  }
  
  .journal-container {
    position: fixed;
    border-radius: 10px;
    width: 25vw;
  }


  .journal-date {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 8px;
    color: #ffffff;
  }