#laptop-screen img {
  user-drag: none;
  -webkit-user-drag: none;
  pointer-events: auto; /* ensures clicks still work */
}


#laptop{
    position: fixed;
    bottom: 32%;
    right: 29%;
    width: 8%;
    height: auto;
    z-index: 11;
    user-drag: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    pointer-events: auto;
  }
  
    #laptop:hover{
      cursor: pointer;
      transform: scale(1.05);
    }
  
    #desktop {
      position: fixed;
      top: 50%;
      left: 52.7%; /* Moved from 50% to 55% to shift right */
      transform: translate(-50%, -50%);
      width: 33%;
      height: auto;
      z-index: 11;
    }
  
    #folder{
      position: fixed;
      top: 38%;
      left: 43%;
      transform: translate(-50%, -50%);
      width: 2%;
      height: auto;
      z-index: 12;
    }
    #tutorial {
      position: fixed;
      top: 38%;
      left: 47%;
      transform: translate(-50%, -50%);
      width: 3%;
      height: auto;
      z-index: 12;
    }
    #webdance{
      position: fixed;
      top: 38%;
      left: 51%;
      transform: translate(-50%, -50%);
      width: 2%;
      height: auto;
      z-index: 12;
    }
    #webdance:hover, #tutorial:hover, #folder:hover {
      cursor: pointer;
      transform: translate(-50%, -50%) scale(1.1);
      transition: transform 0.2s ease;
    }