:root {
  --color-top: #87ceeb;
  --color-bottom: #fceabb;
}

body {
  font-family: 'Pixelify Sans', sans-serif;
  margin: 0;
  background-color: #000000;
  transition: background-color 2s ease;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15vw;
  }
}

@keyframes blink-caret {
  from, to { border-right-color: transparent; }
  50% { border-right-color: white; }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#intro {
  position: fixed;
  top: 20%;
  right: 2%;
  width: 17vw;
  z-index: 1000;
  color: white;
  margin: 0;
  letter-spacing: .15em;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

/* Add this class to each word in your intro text via JavaScript */
.word {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  margin-right: 0.25em; /* Add extra spacing between words */
}

#spotify-iframe {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 20vw;
  height: auto;
  border-radius: 12px;
  z-index: 1000;
  max-width: 100%;
}

.skybox {
  /* width: 55.5%;
  height: auto; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: linear-gradient(to bottom, var(--color-top), var(--color-bottom));
  transition: background 1s linear;
}

#pop{
  volume: 0.5;
}

#bedroom {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  height: auto;
  z-index: 1;
  pointer-events: none;
}

#bookshelfside {
  position: fixed;
  width: 5.46%;
  height: auto;
  z-index: 10;
  pointer-events: none;
}

.draggable {
  position: absolute;
  z-index: 10;
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}

.draggable:hover {
  cursor: grab;
  transform: scale(1.05);
}

#rj {
  width: 7%;
  height: auto;
  z-index: 9;
}

#fruit {
  width: 3%;
  height: auto;
  z-index: 10;
}

#tata {
  width: 3%;
  height: auto;
  z-index: 10;
}

#sakura {
  width: 4%;
  height: auto;
  z-index: 7;
}

#libretagise{
  width: 2.5%;
  height: auto;
  z-index: 7;
}

#kirby{
  width: 4%;
  height: auto;
  z-index: 6; 
}

#sonny{
  width: 1.5%;
  height: auto;
  z-index: 6; 
}

#comb{
  width: 3%;
  height: auto;
  z-index: 6; 
}

#scarf{
  width: 5%;
  height: auto;
  z-index: 6; 
}

/* #tata:hover, #rj:hover, #fruit:hover, #sakura:hover, #libretagise:hover, #meret:hover {
  cursor: pointer;
  transform: scale(1.05);
} */
