@font-face {
    font-family: Pixelify Sans;
    src: url(src/PixelifySans-VariableFont_wght.ttf) format('truetype');
}

:root {
    --color-top: #87ceeb;
    --color-bottom: #fceabb;
  }

body {
    font-family: 'Pixelify Sans', sans-serif;
    margin: 0;
    background-color: #000000;
    transition: background-color 2s ease;
  }

    .skybox {
    width: 55vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background: linear-gradient(to bottom, var(--color-top), var(--color-bottom));
    transition: background 1s linear;
  }
 #bedroom {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: auto;
    z-index: 1;
}

#bookselfside{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
    z-index: 10;
}
/* 
#desk{
    position: fixed;
    bottom: 0%;
    right: 22%;
    width: 15%;
    height: auto%;
    z-index: 2;
} */


#deskchair{
    position: fixed;
    bottom: 6%;
    right: 30%;
    width: 20%;
    height: auto;
    z-index: 1;
}

#deskchair:hover{
    cursor: pointer;
    transform: scale(1.05);
  }
#journal{
    position: fixed;
    bottom: 17%;
    right: 25%;
    width: 8%;
    height: auto;
    z-index: 10;
  }

  #journal:hover{
    cursor: pointer;
    transform: scale(1.05);
  }

#journal-text{
        font-family: 'Pixelify Sans', sans-serif;
        width: 100%;
        height: 200px;
        padding: 10px;
        font-size: 14px;
        resize: none;
        border: 1px solid #999;
        border-radius: 4px;
 }

 #laptop{
  position: fixed;
  bottom: 32%;
  right: 29%;
  width: 8%;
  height: auto;
  z-index: 9;
}

  #laptop:hover{
    cursor: pointer;
    transform: scale(1.05);
  }

  #desktop {
    position: fixed;
    top: 50%;
    left: 52.7%; /* Moved from 50% to 55% to shift right */
    transform: translate(-50%, -50%);
    width: 33%;
    height: auto;
    z-index: 11;
  }
  #tutorial {
    position: fixed;
    top: 38%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 4%;
    height: auto;
    z-index: 12;
  }
  #webdance{
    position: fixed;
    top: 38%;
    left: 54%;
    transform: translate(-50%, -50%);
    width: 3%;
    height: auto;
    z-index: 12;
  }
  /* #webdance:hover, #tutorial:hover {
    cursor: pointer;
  } */

.clickable-journal {
    /* width: 100px; */
    cursor: pointer;
  }
  
  .journal-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  
  .hidden {
    display: none;
  }
  
  .journal-container {
    position: fixed;
    border-radius: 10px;
    width: 25vw;
  }
  
  /* .close-btn {
    position: fixed;
    cursor: pointer;
  } */

  .journal-date {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 8px;
    color: #ffffff;
  }

  /* clock */
  .controls {
    position: fixed;
    top: 13vh;
    right: 43.5vw;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }

  input[type="text"] {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 6px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.639);
    color: white;
    outline: none;
    width: 80px;
    text-align: center;
  }
  
  input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-family: 'Pixelify Sans', sans-serif;
  }
  

  .buttons {
    margin-top: 8px;
  }

  button {
    /* padding: 6px 12px; */
    border-radius: 6px;
    border: none;
    background-color: white;
    color: #333;
    cursor: pointer;
  }

  button:hover {
    background-color: #ccc;
  }
  