:root {
  --color-top: #87ceeb;
  --color-bottom: #fceabb;
}

body {
  font-family: 'Pixelify Sans', sans-serif;
  margin: 0;
  background-color: #000000;
  transition: background-color 2s ease;
}

.skybox {
  width: 55vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: linear-gradient(to bottom, var(--color-top), var(--color-bottom));
  transition: background 1s linear;
}

#bedroom {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  height: auto;
  z-index: 1;
  pointer-events: none;
}

#bookshelfside {
  position: fixed;
  bottom: 0%;
  left: 22.55%;
  width: 5.6%;
  height: auto;
  z-index: 10;
  pointer-events: none;
}

.draggable {
  position: absolute;
  z-index: 10;
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}

#rj {
  width: 7%;
  height: auto;
  z-index: 9;
}

#fruit {
  width: 3%;
  height: auto;
  z-index: 10;
}

#tata {
  width: 3%;
  height: auto;
  z-index: 10;
}

#deskchair {
  position: fixed;
  bottom: 6%;
  right: 30%;
  width: 20%;
  height: auto;
  z-index: 1;
}

#sakura {
  width: 4%;
  height: auto;
  z-index: 7;
}

#libretagise{
  width: 2.5%;
  height: auto;
  z-index: 7;
}

#tata:hover, #rj:hover, #fruit:hover, #sakura:hover, #libretagise:hover {
  cursor: pointer;
  transform: scale(1.05);
}
